<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>get info</title>
    <script type="text/javascript">
	function formCleaner(noun)
	{
		if (noun.value!=null)
		{
			noun.value="";
		}
	}
    function defaultForm(noun)
    {
     	if( noun.value=="")
		{
			noun.value="fill it";
	    }
    }

</script>
</head>
<body>
    <h1>Enter information..........</h1>
<form method="post" action="/profile">
    <p>اسمت چیه؟<br><input type="text" value="fill it" style="color:gray;" id="noun1" name="نام" onfocus="formCleaner(نام);" onblur="defaultForm1(نام);"></p>

    <p>نام کاربریت؟<br><input type="text" value="fill it" style="color: gray;" name="username" id="noun2" onfocus="formCleaner(username);" onblur="defaultForm(username);"></p>

    <p>چند سالته؟<br><input type="text" value="fill it" style="color: gray;" name="age" id="noun3" onfocus="formCleaner(age);" onblur="defaultForm(age);"></p>

    <p>چندکیلویی؟<br><input type="text" value="fill it" style="color: gray;" name="weight" id="noun4" onfocus="formCleaner(weight);" onblur="defaultForm(weight);"></p>
  
	    <p>جنسیت<br><input type="text" value="fill it" style="color: gray;" name="جنسیت" id="noun5" onfocus="formCleaner(جنسیت);" onblur="defaultForm(جنسیت);"></p>
    <input type="submit">


</form>
</body>
</html>